* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    max-width: 60rem;
    margin: 0 auto;
}