:root {
  /* Setup root variables */
  --media-sm: 600px;
  --media-md: 960px;
  --media-lg: 1280px;

  /* font-style */
  --h1-text-size: 2em;
  --h2-text-size: 1.5em;
  --h3-text-size: 1.17em;
  --h4-text-size: 1em;
  --p-text-size: 1em;

  /* colors */
  --primary-color: #0091ff;
  --secondary-color: #fe0070;
  --tertairy: #8b8b8b;
  --grey: #8b8b8b;
  --dark: #1e1e1e;
  --light: #ffff;
  --color-footer: #011564;
  --hover: #a11753;
  --hover-secondary: #0e76c6;


  /* radius */
  --full-radius: 100%;
  --mid-radius: 20%;


  /* font */
  --font-family: "BrutalType";

}

/* Font import */
@font-face {
  font-family: "BrutalType";
  src: url("/fonts/BrutalType-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
 
@font-face {
    font-family: "BrutalType";
    src: url("/fonts/BrutalType.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

/* Dit zijn op dit moment de fonts die we gebruiken in het ontwerp, als je meer wilt aanmaken moet je een nieuwe @font-face maken */

/* Global settings */
* {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Default font styling */
h1 {
  font-size: var(--h1-text-size);
}

h2 {
  font-size: var(--h2-text-size);
}

h3 {
  font-size: var(--h3-text-size);
}

h4 {
  font-size: var(--h4-text-size);
}

p {
  font-size: var(--p-text-size);
}

/*
    CSS text-wrap: balance property
    Allows multiple lines of text to have their lines broken in such a way that each line is roughly the same width, often used to make headlines more readable and visually appealing.

    https://caniuse.com/css-text-wrap-balance
 */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p,
a,
li {
  line-height: 1.2em;
}

/*
     CSS max-width property
     In this case, we are setting the maximum width of the text to 65 characters, which is a good practice to make the text more readable and visually appealing.

     CSS property: text-wrap: pretty
     This property is used to break lines of text in a way that is visually appealing, often used to make paragraphs more readable and visually appealing.

     https://caniuse.com/mdn-css_properties_text-wrap_pretty
  */
p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

a {
  font-family: sans-serif;
  text-decoration: none;
  color: var(--light);
}

/*
     CSS property: container-type: inline-size
     This property is used to set the width of an element to the width of the containing block, often used to make elements fill the width of the container.

     https://caniuse.com/mdn-css_properties_container-type_inline-size
  */
body > :is(header, footer),
main,
section,
article {
  container-type: initial;
}

/* Voorbeeld CSS media gebruik */

/* .card-profile {
    background-color: red;
    margin: 1rem;

    @media (min-width: var(--media-md)) {
        background-color: blue;
    }

    @media (min-width: var(--media-lg)) {
        background-color: pink;
    }
} */

/* other elements */
li {
  list-style-type: none;
}


body {
   background-color: #FAFAFA
}
